* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --WHITE: white;
  --LIGHT-BLUE: rgb(234, 249, 255);
  --BLUE: rgb(0, 131, 212);
  --DARK-BLUE: #233343;
  --PURPLE: rgb(145, 21, 194);
}

body {
  background-color: var(--DARK-BLUE);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin: 50px auto 0px auto;
  padding-bottom: 15px;
  width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: var(--WHITE);
  text-align: center;
  font-size: 1.8rem;
}

.container {
  margin: 40px auto;
  width: 600px;
  height: 580px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}

.weather-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
  width: 100%;
}

.weather-form-container button {
  height: 35px;
  padding: 0 20px;
  margin-left: -5px;
  background-color: var(--BLUE);
  border: none;
  border-radius: 3px;
  color: var(--WHITE);
  font-size: .8rem;
  font-weight: bold;
}

.weather-form-container button:hover {
  background-color: rgb(22, 142, 218);
  cursor: pointer;
}

.weather-form-container button:active {
  transform: scale(0.98);
}

input[type="text"] {
  height: 36px;
  width: 220px;
  padding-left: 10px;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  border: 1px solid var(--DARK-BLUE);
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid lightskyblue;
}

label {
  color: var(--WHITE);
}

.locale-info {
  margin-top: 40px;
  text-align: center;
  color: var(--LIGHT-BLUE);
  font-size: 2.2rem;
}

.weather-data-container {
  margin-top: 60px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--LIGHT-BLUE);
}

.weather-data-container > p {
  font-size: 1.5rem;
}

.weather-data-container > div:first-of-type{
  display: flex;
  align-items: center;
  height: 120px;
  margin: 20px 0 10px 0;
  text-align: center;
  gap: 8px;
}

.weather-data-container > div:first-of-type > * {
  width: 120px;
}


.temp-info > p {
  font-size: 0.9rem;
}

.temp {
  font-size: 2.2rem;
}

.temp-high {
  color: rgb(255, 78, 34);
}

.temp-low {
  color: rgb(109, 189, 255);
}

.temp-description {
  font-size: 0.9rem;
  text-align: left;
}

.weather-data-container > div:nth-last-of-type(2){
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.weather-data-container > div:nth-last-of-type(2) > p{
  padding: 0 20px 0 5px;
}

.fahrenheit,
.celsius {
  padding: 8px;
}

.fahrenheit {
  background-color: var(--BLUE);
  border: 1px solid var(--BLUE);
  color: var(--WHITE);
  border-radius: 3px;
  font-weight: bold;
}

.celsius {
  background-color: var(--PURPLE);
  border: 1px solid var(--PURPLE);
  color: var(--WHITE);
  border-radius: 3px;
  font-weight: bold;
}